@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Luckiest+Guy&display=swap');
/*
 font-family: 'Jua', sans-serif; - 글자 폰트
font-family: 'Luckiest Guy', cursive; - 로고폰트
#8BC0E8; - 연한 하늘색
#6799FF; - 진한 하늘색
#F8FFFF; - 배경 색 ( 엄청 연한 하늘색 )
*/

body {
	 background-color:#F8FFFF;
	
	 text-align: center;
	  font-family: 'Jua', sans-serif;
}
input {
	outline:none;
}
#logo {
    white-space: nowrap;
    display:block;
    text-align: center;
    margin-top:0.5em;
    font-size:32px;
    color:#8BC0E8;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 5px 5px 10px #DDD;
}
#profile_text {
	font-family: 'Jua', sans-serif;
	color:#8BC0E8;
	text-align: center;
	white-space: nowrap;
    display:block;
    margin:0;
}
hr {
	margin:10px;
}
span {
	 color:#6799FF;
	 margin:0 60px; 
}
input[type="submit"] {
	color:white;
	background:#8BC0E8;
	font-family: 'Jua', sans-serif;
	border:none;
	padding:5px 20px;
	margin-top:10px;
	font-size:20px;
	border-radius: 10px;
}
input[type="submit"]:active {
	background:#6799FF;
}
.button {
	font-family: 'Jua', sans-serif;
	background:#8BC0E8;
	color:white;
	border:none;
	border-radius: 10px;
	padding:5px 10px;
	font-size: 20px;
}
.button:active {
	background: #6799FF;
}